<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Make</title>
    </head>

    {% block body %}
        {% if makes %}
            <select id="makes" name="makes">
                <option value="">...</option>
                {% for make in makes %}
                    <option value="{{ make.id }}">{{ make.description }}</option>
                {% endfor %}
            </select>
        {% else %}
            No makes found
        {% endif %}
    {% endblock %}

    <div id="modelsList"></div>
</html>

{% block javascripts %}
    <script language = "javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script language = "javascript">
        $(document).ready(function(){
            $("#makes").on("change", function(){
                if ($(this).val() != "") {
                    $.ajax({
                        url: '/models/{{ app.request.attributes.get('type')}}/' + $(this).val(),
                        type: 'GET',
                        dataType: 'json',
                        async: true,

                        success: function (data) {
                            $('#modelsList').html('');
                            if (data.length > 0) {
                                var list = '<table><tr>' +
                                    '<td>Code</td>' +
                                    '<td>Description</td>' +
                                    '<td>Type</td>' +
                                    '<td>Group</td></tr>';

                                for (i = 0; i < data.length; i++) {
                                    models = data[i];
                                    var listRow = '<tr><td class="code">' + models['code'] + '</td>' +
                                        '<td class="description">' + models['description'] + '</td>' +
                                        '<td class="type">' + models['type']['code'] + '</td>' +
                                        '<td class="group">' + models['groups']['code'] + '</td></tr>';

                                    list += listRow;
                                }

                                list += '</table>';
                                $('#modelsList').append(list);
                            }
                            else {
                                $('#modelsList').html('');
                                $('#modelsList').append('No models are available.');
                            }
                        }
                    });
                }
                else {
                    $('#modelsList').html('');
                }
            });
        });
    </script>
{% endblock %}